<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
    <script src="/js/app.js"></script>
  </head>
  <body>

    <section class="header-section">
      <div class="header-container">
        <!-- <h1>UI App</h1> -->
        <h1>We Design <span class="pink-font">UI</span> For U</h1>
        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci ea commodo consequat. Duis aute irure dolor in reprehend nulla pariatur.
        </p> -->
        <div class="git-box">
          <img class="gif" src="http://static.elmeme.me/static/uploads/images/2015/01/75131/75297_subitem_full.gif" />
        </div>
      </div>
    </section>

    <section class="nav-section">
      <div class="nav-container">
        <ul>
          <li><a href="/dashboard"><i class="main-home-btn fa fa-code" aria-hidden="true"></i></a></li>
          <li><a href="/frames/new"><button class="main-new-btn" type="button" name="button">CREATE</button></a></li>
        </ul>
      </div>
    </section>

    <section class="content-section">
      <div class="container content-container">

        <!-- <h1>Dashboard</h1> -->

        <div class="row">
          <div id="frames-container" class="frames-container">

          </div>
        </div>

      </div>
    </section>

    <section class="footer-section">
      <div class="footer-container">
        <i class="fa fa-copyright" aria-hidden="true"></i> Julia Kim
      </div>
    </section>

    <script>
      // Require firebase
      let firebasedb = require('firebase');

      let config = {
        apiKey: "AIzaSyCip8dLX1XlkNwKsL7YRXP6THfI4F3Zwgk",
        authDomain: "ui-app-50173.firebaseapp.com",
        databaseURL: "https://ui-app-50173.firebaseio.com",
        projectId: "ui-app-50173",
        storageBucket: "gs://ui-app-50173.appspot.com",
        messagingSenderId: "518926407264",
      };
      firebase.initializeApp(config);

      $(document).ready(() => {
        console.log('Welcome to dashboard');

        let rootRef = firebase.database().ref().child('frames');

        // var ifr = document.createElement("iframe");
        // var content = '<html><head><link rel="stylesheet" href="http://bocoup.com/css/base.css" type="text/css" media="screen, projection" /></head><body>Hello, <b>world</b></body></html>';
        //
        // function srcDoc( iframe, content ) {
        //     if ("srcdoc" in ifr) {
        //         iframe.setAttribute("srcdoc", content);
        //         alert("cool");
        //     } else {
        //         iframe.setAttribute("src", "javascript: '" + content + "'");
        //     }
        // }
        //
        // srcDoc(ifr, content);
        // document.body.appendChild(ifr);


        // Populate dashboard page with all the frames data saved in firebase
        rootRef.on('value', framesData);

        function framesData(data) {
          let frames = data.val();
          let keys = Object.keys(frames);
          // console.log(keys);

          // let theIframe;

          for (let i = 0; i < keys.length; i++) {
            let k = keys[i];
            console.log(k);
            let htmlCode = frames[k].html;
            let cssCode = frames[k].css;
            // console.log(htmlCode);

            let newIframe = document.createElement('iframe');
            let newSrcDoc = `${htmlCode}<style>${cssCode}</style>`;

            function createSrcDoc (iframe, content) {
              iframe.setAttribute('srcdoc', content);
            }

            createSrcDoc(newIframe, newSrcDoc);

            $('#frames-container').append(newIframe).append('<div class="desc"><h2>TEST!</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><a href="/frames/' + k + '"><button class="link-btn">GO <i class="fa fa-chevron-right" aria-hidden="true"></i></button></a></div>')
            // ('<a href="/frames/' + k + '"><button class="link-btn">GO <i class="fa fa-chevron-right" aria-hidden="true"></i></button></a>');
            $('iframe').addClass('iframe-thumbnail');
          }
        }




      });
    </script>

  </body>
</html>
