<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
    <script src="/js/app.js"></script>
  </head>
  <body>

    <section class="header-section">
      <div class="header-container">
        <!-- <h1>UI App</h1> -->
        <h1>We Design UI For U</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
    </section>

    <section class="content-section">
      <div class="container content-container">

        <h1>Dashboard</h1>

        <div class="row">
          <div id="frames-container" class="frames-container">
          </div>
        </div>

      </div>
    </section>

    <script>
      // Require firebase
      let firebasedb = require('firebase');

      let config = {
        apiKey: "AIzaSyCip8dLX1XlkNwKsL7YRXP6THfI4F3Zwgk",
        authDomain: "ui-app-50173.firebaseapp.com",
        databaseURL: "https://ui-app-50173.firebaseio.com",
        projectId: "ui-app-50173",
        storageBucket: "gs://ui-app-50173.appspot.com",
        messagingSenderId: "518926407264",
      };
      firebase.initializeApp(config);

      $(document).ready(() => {
        console.log('Welcome to dashboard');

        let rootRef = firebase.database().ref().child('frames');

        // Populate dashboard page with all the frames data saved in firebase
        rootRef.on('child_added', snap => {
          let htmlSnap = snap.child('html').val();
          let cssSnap = snap.child('css').val();

          // Get unique key of each frame
          let key = snap.key;

          $('#frames-container').append('<div class="col-sm-4"><a class="linkwrap" href="/frames/' + key + '"><div class="frame-overlay"></div><iframe class="iframe-thumbnail" src="\n<style>\n\n</style>\n<script>\n<\n\/script>" srcDoc="' + htmlSnap + '<style>' + cssSnap + '</style>"' + '</iframe></a></div>');
        });

      });
    </script>

  </body>
</html>
