<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>

    <!-- Nav bar -->
    <section class="nav-section">
      <div class="nav-container">
        <ul>
          <li><a href="/dashboard"><i class="main-home-btn fa fa-2x fa-code" aria-hidden="true"></i></a></li>
          <li><a href="/frames/new"><button class="main-new-btn" type="button" name="button">CREATE</button></a></li>
        </ul>
      </div>
    </section>

    <!-- Header -->
    <section class="header-section">
      <div class="header-container">

        <div class="type-writer">
          <h1><span class="blue-font">C</span>opy<span class="blue-font">C</span>at <span class="blue-font">C</span><span class="green-font">SS</span></h1>
        </div>

      </div>
    </section>

    <!-- Main dashboard with contens -->
    <section class="content-section">
      <div class="container content-container">

        <div class="row">
          <div id="frames-container" class="frames-container">

          </div>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <section class="footer-section">
      <div class="footer-container">
        <i class="fa fa-copyright" aria-hidden="true"></i> Julia Kim
      </div>
    </section>

    <script src="/js/dashboard.js"></script>

  </body>
</html>
