<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>

    <!-- Nav bar -->
    <section class="nav-section">
      <div class="nav-container">
        <ul>
          <!-- <li><a href="/"><i class="main-home-btn fa fa-2x fa-code" aria-hidden="true"></i></a></li> -->
          <li><a href="/"><img class="logo" src="/img/copycatcss_logo_smp.png" /></a></li>
          <li><a href="/frames/new"><button class="main-new-btn" type="button" name="button">CREATE</button></a></li>
        </ul>
      </div>
    </section>

    <!-- Header -->
    <section class="header-section">
      <div class="header-container">

        <!-- <div class="type-writer"> -->
        <div class="intro">
          <h1><span class="blue-font">C</span>OPY<span class="blue-font">C</span>AT<span class="gray-font">C</span><span>SS</span></h1>
          <p>
            Copy and Paste CSS codes of UI Designs.
            <br />You can also share your designs with our live coding editor!
          </p>
        </div>

        <!-- <div>
          <button id="instructionBtn" class="instruction-btn" type="button" name="button">INSTRUCTION</button>
        </div> -->

        <!-- Modal for instructions -->
        <!-- <div id="insruction-modal" class="instruction-modal-wrapper">
          <div class="instruction-modal-container">
            <h3>Instructions</h3>
            <ul>
              <li>Grab and</li>
            </ul>
          </div>
        </div> -->


      </div>
    </section>

    <!-- Main dashboard with contens -->
    <section class="content-section">
      <div class="container content-container">

        <div class="row">
          <div id="frames-container" class="frames-container">

          </div>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <section class="footer-section">
      <div class="footer-container">
        <i class="fa fa-copyright" aria-hidden="true"></i> Julia Kim
      </div>
    </section>

    <script src="/js/dashboard.js"></script>

  </body>
</html>
