/*
=======================
Base Color
=======================
*/
/*
=======================
Base Font
=======================
*/
body {
  font-size: 15px;
  color: #0b0b0b; }

h1 {
  font-family: "Quicksand", "sans-serif";
  font-size: 60px;
  font-weight: 400; }

h2 {
  font-family: "Quicksand", "sans-serif";
  font-weight: 500; }

p {
  font-family: "Raleway", sans-serif;
  font-weight: 100; }

a {
  color: none;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: none; }

.container-fluid {
  padding: 0; }

.resize {
  resize: vertical;
  overflow: auto; }

.pink-font {
  color: #2744e8; }

.content-section {
  background: #ffffff;
  background: #1e2430;
  z-index: -10; }
  .content-section h1 {
    color: #2744e8; }

.content-container {
  width: 100%; }

.frames-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px; }

.desc {
  width: 100%;
  background: #d9d9d9;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: white;
  padding: 30px 60px 50px 60px;
  z-index: 1000;
  text-align: justify;
  margin-top: -10px; }

.footer-section {
  width: 100%;
  background: #1e2430; }

.footer-container {
  padding-top: 200px;
  height: 250px;
  text-align: center;
  color: #ffffff; }

.header-section {
  background: #ffffff;
  color: #303a4c;
  width: 100%; }

.header-container {
  width: 100%;
  height: 700px; }
  .header-container h1 {
    font-weight: bolder;
    margin-top: 0;
    margin-left: 30%;
    padding-top: 200px; }
  .header-container p {
    font-size: 1.4em;
    margin: 50px 20%;
    font-weight: 300;
    color: #2744e8;
    text-align: justify; }

.gif-box {
  margin: 0 auto;
  text-align: center; }

.gif {
  margin-left: 20%; }

.nav-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px 0 8px 0;
  background: #2744e8;
  box-shadow: 2px 2px 8px #1e2430; }
  .nav-section li {
    display: inline;
    margin: 10px; }
  .nav-section button {
    margin: 0;
    margin-left: 80%; }
  .nav-section i {
    margin: 0;
    margin-left: 20px; }

.save-btn, .export-btn, .main-new-btn, .new-btn, .link-btn, .main-home-btn {
  border: none;
  background: #ffffff;
  color: #2744e8;
  border: #2744e8 3px solid;
  border-radius: 4px;
  padding: 7px 12px;
  float: left;
  margin-left: 30px;
  margin-top: 20px; }

.main-new-btn {
  background: transparent;
  color: #d9d9d9;
  border: #d9d9d9 3px solid;
  float: none;
  width: 70px;
  height: 35px;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 5px; }

.main-home-btn {
  border: #d9d9d9 3px solid;
  background: #d9d9d9;
  color: #2744e8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 13px; }

.main-new-btn:hover {
  background: #d9d9d9;
  color: #2744e8;
  font-weight: bold; }

.home-btn {
  background: #2744e8;
  color: #ffffff;
  border: #2744e8 3px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 60px;
  margin-top: 20px; }

.link-btn {
  background: #2744e8;
  color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 45%; }

.editor-container .col-sm-4 {
  padding: 0; }
.editor-container .col-sm-8 {
  padding: 0; }

.editor {
  height: 50vh;
  font-size: 15px; }

.editor-css {
  border-top: 7px solid #232323; }

.editor-nav {
  background: #1e2430;
  color: #ffffff;
  padding: 15px 50px 25px 50px;
  margin-top: -10px;
  overflow: auto; }
  .editor-nav .editor-nav-li {
    display: inline;
    margin-right: 30px;
    float: right; }

.iframe-container {
  padding-top: 100px;
  background: #d9d9d9;
  height: 100vh; }

.iframe-bg {
  border: #0b0b0b solid 20px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  width: 80%;
  height: 70%;
  background: #ffffff; }

.iframe-live {
  width: 100%;
  height: 100%;
  border: none;
  overflow: scroll; }

.iframe-thumbnail {
  width: 100%;
  height: 240px;
  margin-top: 50px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: none;
  padding: 0;
  background: white;
  overflow: scroll;
  display: inline; }

/*# sourceMappingURL=style.css.map */
