body {
  font-family: "Avenir";
}

.container {
}

.editor {
  height: 500px;
  font-size: 17px;
}

.frame {
  width: 100%;
  height: 300px;
}

.frames-container, .frame-container {
  border: 2px red solid;
}
