<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body onload="init()">

    <div class="container-fluid">

      <!-- <h1>Preview</h1> -->
      <iframe id="preview" class="iframe-live" src="javascript:;"></iframe>

      <div class="row">
        <!-- Editor nav bar -->
        <div class="editor-nav">
          <ul>
            <li class="editor-nav-li"><button id="saveBtn" class="save-btn" type="button" name="button">SAVE</button></li>
            <li class="editor-nav-li">EXPORT</li>
          </ul>
        </div>

        <div id="html-editor" class="col-sm-6 editor editor-html">
        </div>
        <div id="css-editor" class="col-sm-6 editor editor-css">
        </div>

      </div> <!-- /row -->
    </div> <!-- /container-fluid -->

    <!-- <button id="saveBtn" type="button" name="button">SAVE</button> -->


    <script>
      // Require firebase
      let firebasedb = require('firebase');

      // Setting HTML text editor
      let htmlEditor = ace.edit('html-editor');
      htmlEditor.setTheme('ace/theme/twilight');
      htmlEditor.getSession().setMode('ace/mode/html');
      htmlEditor.setValue('<!-- HTML code goes here -->');

      // Setting CSS text editor
      let cssEditor = ace.edit('css-editor');
      cssEditor.setTheme('ace/theme/twilight');
      cssEditor.getSession().setMode('ace/mode/css');
      cssEditor.setValue('/* CSS code here */');

      // Initializing Firebase, Ace, and Firepad
      const init = () => {

        // Initialize Firebase.
        let config = {
          apiKey: "AIzaSyCip8dLX1XlkNwKsL7YRXP6THfI4F3Zwgk",
          authDomain: "ui-app-50173.firebaseapp.com",
          databaseURL: "https://ui-app-50173.firebaseio.com",
          projectId: "ui-app-50173",
          storageBucket: "gs://ui-app-50173.appspot.com",
          messagingSenderId: "518926407264",
        };
        firebase.initializeApp(config);

        // Get Firebase Database reference.
        let firebaseDbRef = firebase.database().ref();
        let htmlFirepadRef = firebaseDbRef.child('html');
        let cssFirepadRef = firebaseDbRef.child('css');

        // // Create Ace editor.
        // let editor = ace.edit('firepad');

        // Create Firepad.
        let htmlFirepad = Firepad.fromACE(htmlFirepadRef, htmlEditor);

        let cssFirepad = Firepad.fromACE(cssFirepadRef, cssEditor);

      }

      $(document).ready(() => {

        console.log("Welcome to Julia's final project");

        // Setting iframe to preview code
        // Reference: https://subinsb.com/how-to-create-a-html-css-js-code-editor-using-jquery
        let $preview = $('#preview').contents().find('body');
        $preview.html('<span id="htmlCode"></span><style id="cssCode"></style>');

        // Whenever code changes in the editor, update iframe preview
        htmlEditor.on('change', function() {
          $preview.find('#htmlCode').html(htmlEditor.getValue());
        });

        cssEditor.on('change', function() {
          $preview.find('#cssCode').html(cssEditor.getValue());
        })
      //
      //   $('#editor-tabs a').on(click, (e => {
      //     e.preventDefault();
      //     // $(this).tab('show');
      //     $('#editor-tabs a:first').tab('show');
      //     $('#editor-tabs a:last').tab('show');
      //   })
      // );

        // On click on save button new code gets saved to firebase db
        $('#saveBtn').on('click', (html, css) => {
          alert("click");

          // A frame entry
          let frameData = {
            html: htmlEditor.getValue(),
            css: cssEditor.getValue()
          }

          // Get a key for a new Frame
          let newFrameKey = firebase.database().ref().child('frames').push().key;

          // Write the new frame's data simultaneously in the frames list
          let updates = {};
          updates['/frames/' + newFrameKey] = frameData;

          return firebase.database().ref().update(updates);
        });


      });

    </script>

  </body>
</html>
