<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>

    <div class="container">

      <h1>Editor</h1>
      <div class="row">
        <div id="html-editor" class="col-sm-6 editor">
        </div>
        <div id="css-editor" class="col-sm-6 editor">
        </div>
      </div>

      <h1>Preview</h1>
      <iframe id="preview" class="frame" src="javascript:;"></iframe>
    </div>


    <!-- Link to Ace Editor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>

    <script>
      $(document).ready(() => {
        console.log("Welcome to Julia's final project");

        // Setting HTML text editor
        let htmlEditor = ace.edit('html-editor');
        htmlEditor.setTheme('ace/theme/monokai');
        htmlEditor.getSession().setMode('ace/mode/html');
        htmlEditor.setValue('<!-- HTML code here -->');

        // Setting CSS text editor
        let cssEditor = ace.edit('css-editor');
        cssEditor.setTheme('ace/theme/monokai');
        cssEditor.getSession().setMode('ace/mode/css');
        cssEditor.setValue('/* CSS code here */');

        // Setting iframe to preview code
        // Reference: https://subinsb.com/how-to-create-a-html-css-js-code-editor-using-jquery
        let $preview = $('#preview').contents().find('body');
        $preview.html('<span id="htmlCode"></span><style id="cssCode"></style>');

        // Whenever code changes in the editor, update iframe preview
        htmlEditor.on('change', function() {
          $preview.find('#htmlCode').html(htmlEditor.getValue());
        });

        cssEditor.on('change', function() {
          $preview.find('#cssCode').html(cssEditor.getValue());
        })

      });

    </script>

  </body>
</html>
