<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>

    <h1>Final Project</h1>
    <div>
      <pre id="editor">

      </pre>
      </div>
    </div>

    <!-- Link to Ace Editor -->
    <!-- <script src="../vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>

    <script>
    $(document).ready(() => {
      console.log("Welcome to Julia's final project");

      var htmlEditor = ace.edit("editor");
      htmlEditor.setTheme("ace/theme/monokai");
      htmlEditor.getSession().setMode("ace/mode/html");

      htmlEditor.setValue("<h1>Hi!</hi>");
      // htmlEditor.clearSelection();

    });

    </script>

  </body>
</html>
