<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>

    <h1>Final Project</h1>
    <div>
      <div id="html-editor" class=""></div>
    </div>

  </body>
</html>
