<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>

    <div class="container">

      <h1>I KNOW</h1>

      <div id="frame-container" class="frame-container">
        <div class="row">
          <div id="view-html-editor" class="col-sm-6 editor">
          </div>
          <div id="view-css-editor" class="col-sm-6 editor">
          </div>
        </div>
        <iframe id="view-iframe"></iframe>
      </div>

    </div>

    <script>
      // Require firebase
      let firebasedb = require('firebase');

      let config = {
        apiKey: "AIzaSyCip8dLX1XlkNwKsL7YRXP6THfI4F3Zwgk",
        authDomain: "ui-app-50173.firebaseapp.com",
        databaseURL: "https://ui-app-50173.firebaseio.com",
        projectId: "ui-app-50173",
        storageBucket: "gs://ui-app-50173.appspot.com",
        messagingSenderId: "518926407264",
      };
      firebase.initializeApp(config);

      // Setting HTML text editor
      let htmlViewEditor = ace.edit('view-html-editor');
      htmlViewEditor.setTheme('ace/theme/monokai');
      htmlViewEditor.getSession().setMode('ace/mode/html');

      // Setting CSS text editor
      let cssViewEditor = ace.edit('view-css-editor');
      cssViewEditor.setTheme('ace/theme/monokai');
      cssViewEditor.getSession().setMode('ace/mode/css');

      // Get the last parameter of url
      let url = window.location.href;
      let params = url.substring(url.lastIndexOf('/') + 1);

      console.log('Welcome to Single View');

      console.log(params);

      firebase.database().ref().child('frames').child(params).once('value', snap => {
        $('#view-iframe').attr('srcdoc', `${snap.val().html} <style> ${snap.val().css} </style>`);
        htmlViewEditor.setValue(snap.val().html);
        cssViewEditor.setValue(snap.val().css);
      });

    </script>

  </body>
</html>
