<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>

    <div class="container-fluid">

      <div class="row editor-container">
        <!-- <div class="editor-nav">
          <ul>
            <li class="editor-nav-li">EXPORT</li>
          </ul>
        </div> -->
        <div class="col-sm-8 iframe-container">
          <a href="/dashboard"><i class="home-btn fa fa-2x fa-code" aria-hidden="true"></i></a>
          <button id="exportBtn" class="export-btn" type="button" name="button"><i class="fa fa-download" aria-hidden="true"></i> EXPORT</button>
          <div class="iframe-bg">
            <iframe id="view-iframe" class="iframe-live"></iframe>
          </div>
        </div>
        <div class="col-sm-4">
          <div id="view-html-editor" class="editor editor-html">
          </div>
          <div id="view-css-editor" class="editor editor-css">
          </div>
        </div>
      </div>

    </div>

    <script>
      // Require firebase
      let firebasedb = require('firebase');

      let config = {
        apiKey: "AIzaSyCip8dLX1XlkNwKsL7YRXP6THfI4F3Zwgk",
        authDomain: "ui-app-50173.firebaseapp.com",
        databaseURL: "https://ui-app-50173.firebaseio.com",
        projectId: "ui-app-50173",
        storageBucket: "gs://ui-app-50173.appspot.com",
        messagingSenderId: "518926407264",
      };
      firebase.initializeApp(config);

      // Setting HTML text editor
      let htmlViewEditor = ace.edit('view-html-editor');
      htmlViewEditor.setTheme('ace/theme/twilight');
      htmlViewEditor.getSession().setMode('ace/mode/html');

      // Setting CSS text editor
      let cssViewEditor = ace.edit('view-css-editor');
      cssViewEditor.setTheme('ace/theme/twilight');
      cssViewEditor.getSession().setMode('ace/mode/css');

      // Get the last parameter of url
      let url = window.location.href;
      let params = url.substring(url.lastIndexOf('/') + 1);

      console.log('Welcome to Single View');

      console.log(params);

      firebase.database().ref().child('frames').child(params).once('value', snap => {
        $('#view-iframe').attr('srcdoc', `${snap.val().html} <style> ${snap.val().css} </style>`);
        htmlViewEditor.setValue(snap.val().html);
        cssViewEditor.setValue(snap.val().css);
      });

    </script>

  </body>
</html>
