<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>

    <div class="container-fluid">

      <div class="row">

        <!-- iframe preview section -->
        <div class="col-sm-8 iframe-container">

          <!-- nav menu -->
          <a href="/"><i class="home-btn fa fa-2x fa-code" aria-hidden="true"></i></a>
          <button id="exportBtn" class="export-btn hvr-shutter-out-horizontal" type="button" name="button"><i class="fa fa-download" aria-hidden="true"></i> EXPORT</button>
          <a href="/frames/new"><button class="new-btn hvr-shutter-out-horizontal" type="button" name="button"><i class="fa fa-pencil" aria-hidden="true"></i> CREATE</button></a>

          <!-- iframe -->
          <div class="iframe-bg">
            <iframe id="view-iframe" class="iframe-live"></iframe>
          </div>
        </div>

        <!-- editor section -->
        <div class="col-sm-4 editor-container">
          <div id="view-html-editor" class="editor editor-html">
          </div>
          <div id="view-css-editor" class="editor editor-css">
          </div>
        </div>

      </div> <!-- /row -->

    </div> <!-- /container-fluid -->

    <script src="/js/show.js"></script>

  </body>
</html>
