body {
  // font-family: $font-choice-5;
  // font-family: $default-font-family;
  font-size: $base-font-size;
  color: $black;
}

h1 {
  font-family: $primary-font-family;
  font-size: 60px;
  font-weight: 400;
}

h2 {
  font-family: $primary-font-family;
  font-weight: 500;
}

p {
  font-family: $font-choice-6;
  font-weight: 100;
}

a {
  color: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: none;
}

.container-fluid {
  padding: 0;
}

.resize {
  resize: vertical;
  overflow: auto;
}
