/*
=======================
Base Color
=======================
*/

//Gray Scale
$white: #ffffff;
$black: #0b0b0b;
$extra-light-gray: #eeedf2;
$light-gray: #6d7271;
$mid-gray: #232323;
$deep-gray: #1b1d21;
$shadow: #c4c2c2;
$editor-bg-gray: #1e2430;

$red: #fc0043;
$orange: #f96d4d;
$neon-yellow: #eaff0a;

$pastel-red: #F7987C;
$pastel-green: #89F8EA;
$deep-pastel-green: #42f4ce;
$deeper-pastel-green: #38f7dd;
$bright-blue: #1BC9EA;
$red: #F92116;

// Color Scheme
$primary-color: $pastel-green;
$secondary-color: $red;


/*
=======================
Base Font
=======================
*/

//Font
$base-font-size: 15px;
$bold-font-size: 17px;

$default-font-family: "Avenir", "Helvetica", "sans-serif";

$font-choice-1: "Poppins", "sans-serif";
// $font-choice-2: "Questrial", "sans-serif";
// $font-choice-3: "Days One", "sans-serif";
$font-choice-4: "Quicksand", "sans-serif";
// $font-choice-5: "Rubik", "sans-serif";

// Main Font
$primary-font-family: $font-choice-4;
