.content-section {
  // background: $white;
  // background: linear-gradient(170deg, $dove, $white);
  background: $editor-bg-gray;
  z-index: -10;
  h1 {
    color: $blue;
  }
}

.content-container {
  width: 100%;
}

.frames-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
}

.desc {
  h2 {
    font-family: $default-font-family;
    color: $editor-bg-gray;
    font-weight: 600;
  }
  width: 100%;
  background: $dove;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: white;
  padding: 10px 60px 10px 60px;
  text-align: left;
  margin-top: -10px;
  margin-bottom: 50px;
}

@media (max-width: 650px) {
  .frames-container {
    width: 90%;
  }

  .desc {
    h2 {
      font-size: 25px;
    }
    padding-left: 20px;
  }
}
