.header-section {
  // background: linear-gradient(170deg, $white 80%, $dove);
  background: $white;
  color: $editor-bg-gray-shadow;
  width: 100%;
}

.header-container {
  // width: 100%;
  height: 800px;
  text-align: center;
  padding-top: 180px;
  margin: 0 auto;
}

.intro {
  width: 80%;
  margin: 0 auto;
  h1 {
    font-size: 50px;
    letter-spacing: 10px;
  }
  p {
    font-family: $default-font-family;
    text-align: center;
    line-height: 35px;
    font-size: 1.5em;
    margin: 30px 20%;
  }
}

@media (max-width: 950px) {
  .intro {
    width: 90%;
    h1 {
      font-size: 40px;
      letter-spacing: 7px;
    }
    p {
      margin-left: 15%;
      margin-right: 15%;
      font-size: 1.4em;
      line-height: 32px;
    }
  }
}

// Media query for small device
@media (max-width: 650px) {
  .intro {
    width: 90%;
    h1 {
      font-size: 30px;
    }
    p {
      margin-left: 15%;
      margin-right: 15%;
      font-size: 1.1em;
      line-height: 28px;
      text-align: left;
    }
  }

  .type-writer {
    h1 {
      font-size: 36px;
    }
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  .header-container {
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
  }


}
