.nav-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px 0 8px 0;
  background: $white;
  z-index: 1000;
  ul {
    margin: 0;
  }
  li {
    display: inline;
    margin: 10px;
  }
  button {
    margin: 0;
    margin-left: 65%;
  }
  i {
    margin: 0;
    margin-left: 20px;
  }
}

.logo {
  width: 120px;
  margin-top: 20px;
  padding-bottom: 15px;
  margin-left: 40px;
}

@media (max-width: 950px) {
  .nav-section {
    button {
      margin-left: 0;
    }
  }
}

@media (max-width: 650px) {
  .nav-section {
    ul {
      padding: 0;
    }
    button {
      margin-left: 0;
    }
    i {
      margin-left: 5px;
      margin-top: 0;
    }
  }

  .logo {
    width: 120px;
  }
}
