.save-btn, .export-btn, .new-btn, .modal-btn {
  border: none;
  background: $dove;
  color: $editor-bg-gray-shadow;
  border: $editor-bg-gray-shadow 2px solid;
  border-radius: 3px;
  padding: 5px 10px;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  font-size: 14px;
}

.go-btn {
  border: none;
  background: $white;
  color: $editor-bg-gray-shadow;
  border: $editor-bg-gray-shadow 3px solid;
  border-radius: 4px;
  padding: 7px 12px;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 14px;
}

.save-btn, .export-btn, .new-btn, .modal-btn {
  &:hover {
    background: #BCBABA;
    border-color: #BCBABA;
  }
}

.save-btn {
  float: none;
  border-color: $white;
  margin-left: 10px;
}

.close-btn {
  position: relative;
  top: -24px;
  left: 52%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: none;
  color: $dove;
  font-family: $secondary-font-family;
  font-size: 20px;
  font-weight: bold;
}

.main-new-btn {
  background: transparent;
  color: $editor-bg-gray;
  border: $editor-bg-gray 2px solid;
  float: none;
  width: auto;
  height: 35px;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 3px;
  letter-spacing: 2px;
}

.main-home-btn {
  border: $dove 3px solid;
  background: $dove;
  color: $blue;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 13px;
  padding: 0;
  margin: 0;
  margin-top: -7px;
}

.main-new-btn:hover {
  background: $dove;
  border-color: $dove;
}

.main-home-btn, .home-btn {
  &:hover {
    border-color: $deep-pastel-green;
    background: $deep-pastel-green;
  }
}

.home-btn {
  background: $blue;
  color: $white;
  border: $blue 3px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 60px;
  margin-top: 20px;
}

.rotate-box {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: $dove;
  margin-left: 80%;
  z-index: 1;
}

.go-btn {
  background: $dove;
  border-color: $dove;
  color: $editor-bg-gray;
  width: 70px;
  height: 70px;
  margin-top: -30px;
}

@media (max-width: 650px) {
  .export-btn, .new-btn, .modal-btn, .main-new-btn {
    font-size: 12px;
    padding: 3px 8px;
    margin-right: 15px;
  }

  .main-new-btn {
    height: 28px;
  }

  .rotate-box {
    margin-left: 70%;
  }

  .home-btn {
    margin-left: 20px;
  }
}
