.save-btn, .export-btn, .new-btn, .go-btn, .modal-btn {
  border: none;
  background: $white;
  color: $blue;
  border: $blue 3px solid;
  border-radius: 4px;
  padding: 7px 12px;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}

.save-btn, .export-btn, .new-btn, .modal-btn {
  &:hover {
    background: $blue;
    color: $white;
  }
}

.save-btn {
  float: none;
}

.close-btn {
  position: relative;
  top: -50px;
  left: 57%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: $blue;
  color: $white;
  font-family: $secondary-font-family;
  font-size: 20px;
  font-weight: bold;
}

.main-new-btn {
  background: transparent;
  color: $dove;
  border: $dove 3px solid;
  float: none;
  width: auto;
  height: 35px;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 5px;
  letter-spacing: 2px;
}

.main-home-btn {
  border: $dove 3px solid;
  background: $dove;
  color: $blue;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 13px;
  padding: 0;
  margin: 0;
  margin-top: -7px;
}

.main-new-btn:hover {
  background: $dove;
  color: $blue;
  font-weight: bold;
}

.main-home-btn, .home-btn {
  &:hover {
    border-color: $deep-pastel-green;
    background: $deep-pastel-green;
  }
}

.home-btn {
  background: $blue;
  color: $white;
  border: $blue 3px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 60px;
  margin-top: 20px;
}

.rotate-box {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: $dove;
  margin-left: 80%;
  z-index: 1;
}

.go-btn {
  background: $dove;
  border-color: $dove;
  color: $editor-bg-gray;
  width: 70px;
  height: 70px;
  margin-top: -30px;
  // border-radius: 50%;
  i {
    transform: rotate(-45deg);
    margin-top: 10px;
    margin-left: 10px;
    // font-weight: bold;
    font-size: 1.5em;
  }
  &:hover {
    i {
      color: $blue;
    }
  }
}
