.editor-container {
  .col-sm-4 {
    padding: 0;
  }
  .col-sm-8 {
    padding: 0;
  }
}

.editor {
  height: 50vh;
  font-size: $base-font-size;
}

.firepad {
  a {
    display: none;
  }
}

.editor-html {
  // border-top-left-radius: 4px;
  // border-bottom-left-radius: 4px;
}

.editor-css {
  // border-top-right-radius: 4px;
  // border-bottom-right-radius: 4px;
  border-top: 7px solid $mid-gray;
}

.editor-nav {
  background: $editor-bg-gray;
  color: $white;
  padding: 15px 50px 25px 50px;
  margin-top: -10px;
  overflow: auto;
  .editor-nav-li {
    display: inline;
    margin-right: 30px;
    float: right;
  }
}
