.iframe-container {
  padding-top: 5px;
  background: $dove;
  height: 100vh;
  .logo {
    margin-left: 30px;
    width: 100px;
  }
}

.iframe-bg {
  border: $black solid 20px;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 10px;
  width: 80%;
  height: 70%;
  background: $white;
}

.iframe-live {
  width: 100%;
  height: 100%;
  border: none;
  overflow: scroll;
}

.iframe-thumbnail {
  width: 100%;
  height: 330px;
  margin-top: 50px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: none;
  padding: 0;
  background: white;
  overflow: scroll;
  display: inline;
}

@media (max-width: 650px) {
  .iframe-bg {
    border: $black solid 15px;
    width: 85%;
  }
}
