.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  padding: 200px;
  z-index: 1000;
  display: none;
}

.modal-container {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  height: auto;
  background: $editor-bg-gray;
  padding: 30px 30px 60px 30px;
  border-radius: 10px;
  h2 {
    font-family: $secondary-font-family;
    font-weight: 300;
    color: $bright-blue;
    // color: $dove;
    margin-top: 0;
  }
}

#cursor {
  animation-duration: 2s;
  // animation-delay: 1s;
  animation-iteration-count: infinite;
}

.title-input {
  width: 200px;
  padding: 5px 10px;
  border: $dove 2px solid;
  border-radius: 3px;
}

@media (max-width: 950px) {
  .modal-wrapper {
    padding: 0 20px;
    padding-top: 200px;
  }

  .modal-container {
    width: 80%;
    h2 {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 650px) {
  .modal-container {
    h2 {
      font-size: 22px;
    }
  }
}
